<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAdDataService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://apps.mediaradar.com/AdDataService/AdService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdDataService"
        contract="Mediaradar.IAdDataService" name="BasicHttpBinding_IAdDataService" />
    </client>
  </system.serviceModel>
</configuration>