@model System.Collections.Generic.IEnumerable<Adilicious.Web.Models.AdViewModel>

<h2>@ViewBag.Title</h2>

<table id="ads" class="tablesorter">
    <thead>
        <tr>
            <th>
                Num Pages
            </th>
            <th>
                Brand Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ad in Model)
        {
            <tr>
                <td>
                    @ad.NumPages
                </td>
                <td>
                    @ad.BrandName
                </td>
            </tr>
        }
    </tbody>
</table>